@charset "UTF-8";
* {
  padding: 0;
  margin: 0; }

.container {
  padding: 0 100px 0 100px; }

header {
  background-color: #1C1C1C;
  height: 80px; }

.logo_header {
  height: 60px;
  float: left;
  padding-top: 10px;
  padding-left: 10px; }

.number_header {
  float: right;
  margin: 10px 0;
  background-color: #249B07; }
  .number_header ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    border-radius: 10px; }
    .number_header ul ul {
      display: none;
      position: absolute;
      top: 100%; }
      .number_header ul ul li {
        min-width: 170px;
        float: none;
        display: list-item;
        position: relative; }
    .number_header ul li {
      margin: 0px -7px 0 0;
      display: inline-block;
      background-color: #249B07; }
      .number_header ul li:hover > ul {
        display: inherit; }
  .number_header a {
    display: block;
    padding: 0 10px;
    color: #FFF;
    font-size: 20px;
    line-height: 60px;
    text-decoration: none; }
    .number_header a:hover {
      background-color: #000000; }

.main_content {
  height: 750px;
  background-blend-mode: soft-light;
  background-color: rgba(0, 56, 255, 0.1);
  background-image: url(../img/bg.jpg); }

nav {
  padding-top: 20px;
  text-align: center; }
  nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative; }
    nav ul li {
      margin: 0px 10px 0 0;
      display: inline-block; }
  nav a {
    display: inline-block;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    position: relative; }
    nav a:after {
      background-color: yellow;
      display: block;
      content: "";
      height: 2px;
      width: 0%;
      left: 50%;
      position: absolute;
      -webkit-transition: width .3s ease-in-out;
      -moz--transition: width .3s ease-in-out;
      transition: width .3s ease-in-out;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      transform: translateX(-50%); }
    nav a:hover:after, nav a:focus:after {
      width: 100%; }

.main_text {
  text-align: center;
  color: white;
  padding-top: 230px;
  font-family: sans-serif; }
  .main_text h1 {
    font-size: 44px; }
  .main_text .h2_main_text {
    padding-top: 70px;
    padding-bottom: 100px; }

.ghost_button {
  padding-top: 100px;
  display: inline-block;
  width: 270px;
  height: 60;
  padding: 8px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.15);
  border: 2px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  border-radius: 30px;
  transition: color 0.3s ease-out, background-color 0.3s ease-out, border-color 0.3s ease-out; }
  .ghost_button:hover, .ghost_button:active {
    background-color: #249B07;
    border-color: #249B07;
    color: #fff;
    transition: color 0.3s ease-in, background-color 0.3s ease-in, border-color 0.3s ease-in; }
  .ghost_button a {
    text-decoration: none;
    font-size: 28px;
    font-weight: bold;
    color: white; }

.labels {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 36px;
  padding-top: 30px;
  padding-bottom: 30px; }

.market h2 {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 36px; }
.market p {
  width: 190px; }

.market_items {
  padding-top: 20px; }

.market_item {
  display: inline-block;
  width: 240px;
  margin: 0 20px;
  height: 350px;
  padding-bottom: 50px; }
  .market_item .color_market {
    background-color: #3C444D;
    width: 240px;
    border-radius: 10px;
    height: 350px; }
  .market_item .item_name {
    color: #ffffff;
    font-size: 24px;
    font-family: sans-serif;
    margin-left: 25px; }
  .market_item .item_caption {
    color: #ffffff;
    font-size: 16px;
    font-family: sans-serif;
    margin-left: 25px;
    padding-bottom: 7px; }
  .market_item .ghost_button {
    text-align: center;
    width: 190px;
    height: 35px;
    text-align: center; }
    .market_item .ghost_button a {
      font-size: 16px; }

.button_holder {
  text-align: center; }

.market_item_icon {
  width: 240px;
  border-radius: 10px 10px 0 0; }

.text-box {
  text-align: center; }

.content_bo img {
  height: 820px;
  width: 100%; }

.text_bo {
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: sans-serif; }

.gb2 {
  background-color: #2fcc09;
  width: 370px;
  height: 80px;
  font-size: 30px; }

.benefits {
  display: table;
  text-align: center; }

.benefits_item {
  display: table-cell;
  text-align: center; }

.benefits_caption {
  font-family: sans-serif;
  padding: 10px 0; }

.benefits_description {
  font-family: sans-serif;
  padding-bottom: 10px;
  margin: 0 30px; }

.benefits_ico {
  height: 100px; }

.about {
  background-color: #3C444D;
  height: 500px; }

.about_content {
  float: left;
  display: block;
  width: 49%;
  color: #fff;
  font-family: sans-serif;
  padding-top: 100px; }
  .about_content h2 {
    padding: 0 20px 20px 0;
    font-size: 36px; }
  .about_content h3 {
    font-size: 24px;
    padding: 0 20px 20px 0; }
  .about_content p {
    font-size: 18px;
    padding: 0 20px 20px 0; }

.about_img {
  float: right;
  display: block;
  width: 49%;
  padding-top: 30px; }

.garanties {
  height: 250px; }

.our_garanties {
  float: left;
  display: block;
  max-width: 49%; }
  .our_garanties h2 {
    padding: 0 20px 20px 0;
    font-size: 36px;
    font-family: sans-serif; }
  .our_garanties p {
    font-size: 18px;
    padding: 0 20px 20px 0;
    width: 80%;
    font-family: sans-serif; }

.garanties_items {
  float: left;
  display: block;
  max-width: 49%;
  display: table; }
  .garanties_items img {
    width: 60px; }
  .garanties_items p {
    font-size: 16px;
    font-family: sans-serif;
    padding: 10px 40px;
    width: 80%; }

.table_g {
  border-spacing: 7px 11px; }

.g_capt {
  vertical-align: top; }

.g_img {
  width: 60px;
  /* Ширина левой колонки с рисунком */
  vertical-align: top;
  /* Выравнивание по верхнему краю */ }

.gb3 {
  background-color: #fff;
  border-color: black;
  width: 200px;
  height: 60px;
  font-size: 18px;
  color: black; }

.partners_slick1 {
  background-color: #30363D;
  height: 240px; }

.partner_item {
  height: 220px;
  width: 100px;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle; }

.partner_logo {
  width: 200px;
  padding-top: 60px;
  padding-bottom: 40px;
  text-align: center;
  padding-left: 182px; }

.partner_name a {
  font-family: sans-serif;
  color: #fff;
  font-size: 20px;
  text-decoration: none; }
  .partner_name a:hover {
    color: black;
    transition: color 0.3s ease-out, background-color 0.3s ease-out, border-color 0.3s ease-out;
    text-decoration: none; }

.contacts_sect {
  height: 500px; }

.contacts_data {
  float: left;
  width: 40%; }

.h2_cont {
  font-family: sans-serif;
  font-size: 28px;
  padding: 15px 0; }

.p_cont {
  font-size: 20px;
  font-family: sans-serif;
  padding: 3px 0; }
  .p_cont a {
    text-decoration: none;
    color: black; }
    .p_cont a:hover {
      color: #249B07;
      transition: color 0.3s ease-out, background-color 0.3s ease-out, border-color 0.3s ease-out;
      text-decoration: none; }

.map {
  float: left;
  width: 40%;
  width: 400px;
  height: 400px; }

.social_ico {
  height: 18px;
  padding-right: 10px; }

footer {
  height: 80px;
  background-color: #30363D; }

.footer_logo {
  float: left;
  width: 30%; }
  .footer_logo img {
    width: 200px;
    padding-top: 15px; }

.footer_caption {
  float: left;
  text-align: center;
  padding-left: 80px;
  width: 30%;
  padding-top: 30px;
  color: white;
  font-family: sans-serif; }
  .footer_caption a {
    text-decoration: none;
    color: white; }

.footer_social {
  float: right;
  padding-top: 30px; }
